head
    title XeroScouter
    script(type="text/javascript", src='/libs/jquery.min.js')
    script(type="text/javascript", src='/libs/bootstrap.min.js')
    script(type="text/javascript", src='/controllers/navbar.controller.js')
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/animate.min.css', rel='stylesheet')
    link(href='/css/navbar.css', rel='stylesheet')