doctype html
html
    include ./header.jade
    script(type="text/javascript", src='/controllers/main.controller.js')
    body
        include ./navbar.jade
        div(class="jumbotron")
            div(class="row")
                div(class="col-xs-6")
                div(class="col-xs-3 animated fadeInLeft" style="animation-duration: 3s;")
                    h2 Welcome to
                    div(class="animated fadeIn" style="animation-delay: 3s, 500ms; animation-duration: 3s;")
                        h2 <i>XeroScouter</i> 
                div(class="col-xs-3") 