nav(class="navbar navbar-default")
    div(class="col-xs-10")
        div(class="container-fluid")
            div(class="navbar-header")
                a(class="navbar-brand" href="#")
                    Home
            ul(class="nav navbar-nav")
                li(class="active")
                    a(href="/")
                        | Home   
                li
                    a(href="/about")
                        | About This Site
                li
                   a(href="/teams")
                       | Explore Teams
    div(class="col-xs-2" style="padding-top: 9px;")
        input(type="text" placeholder="Search Teams")
        button(onclick="#") Submit
